body{
    background-color: #FFF1C9;
    margin: 0;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: #D68910
}

#titlepic{
    display: flex;
    justify-content: center;
}

.humanchoice{
    display: flex;
    justify-content: center;
}

.humanchoice img{
    height: 100px;
    width: auto;
    margin: 10px;
    border-radius: 50%;

}

.humanchoice img:hover{
    cursor: pointer;
    border: 3px solid burlywood;
}